@import "normalize.css";

/* General */
body {
    font-family: "Georgia", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.3em;
    margin: .5em;
}

li {
    list-style-type: none;
}

/* Files Tree */
ul {
    display: inline-block;
    float: left;
    clear: left;
    margin: .25em;
    padding: 0;
}

ul:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: .25em;
    right: auto;
    bottom: 0;
    left: 1.75em;
    margin: auto;
    border-right: dotted black .1em;
    width: 0;
    height: auto;
}

ul:after {
    content: "-";
    position: absolute;
    z-index: 3;
    top: 0;
    left: -.5em;
    margin: .65em;
    padding: 0;
    width: .8em;
    height: .8em;
    text-align: center;
    line-height: .6em;
    font-size: 1em;
    background: blue;
}

ul > li {
    display: block;
    position: relative;
    float: left;
    clear: both;
    right: auto;
    padding-left: 1em;
    width: auto;
    text-align: center;
    color: white;
    background: gray;
}

ul > li > input {
    display: block;
    position: absolute;
    float: left;
    z-index: 4;
    margin: 0 0 0 -1em;
    padding: 0;
    width: 1em;
    height: 2em;
    font-size: 1em;
    opacity: 0;
    cursor: pointer;
}

ul > li > input:checked ~ ul:before {
    display: none;
}

ul > li > input:checked ~ ul:after {
    content: "+"
}

ul > li > input:checked ~ ul * {
    display: none;
}

ul > li > span {
    display: block;
    position: relative;
    float: left;
    z-index: 3;
    margin: .25em;
    padding: .25em;
    background: lightblue;
}

.item-edit {
    font-size: .9em;
    padding: .25em;
    margin: .25em;
    border-radius: .15em;
    width: 125px;
}

ul > li > span:after {
    content: "";
    display: block;
    position: absolute;
    left: -1em;
    top: 0;
    bottom: 0;
    margin: auto .25em auto .25em;
    border-top: dotted black .1em;
    width: .75em;
    height: 0;

}

ul > li:last-child:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 1em;
    left: 0;
    bottom: -.25em;
    width: .75em;
    height: auto;
    background: lightblue;
}

#tree {
    position: relative;
}

#tree:before {
    left: .5em;
}

#tree:after {
    display: none;
}

/* Files Tree Decoration */
ul, ul > li:last-child:before {
    background: white;
}

ul > li {
    background: transparent;
}

ul:after {
    background: white;
    color: black;
    border: solid gray 1px;
    border-radius: .1em;
}

ul > li > span {
    border-radius: .25em;
    color: black;
    background: white;
}

ul > li > input ~ span:before {
    content: "";
    display: inline-block;
    margin: 0 .25em 0 0;
    width: 1em;
    height: 1em;;
    line-height: 1em;
    background: url(../img/folder-open) no-repeat;
    background-size: contain;
}

ul > li > input:checked ~ span:before {
    background-image: url(../img/folder);
}

/* Menu */
.menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #bbb;
    background: #eee;
    z-index: 10;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    font-size: .9em;
}

.menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
}

.menu-link {
    color: #0e0e0e;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #cacac9;
}

/* Menu active */
.menu-active {
    display: block;
}

.item-active {
    background: #c4c4ff;
}